body {
    background-color: #f4f6f9;
    padding-top: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::placeholder {
    color: #6c757d; /* Bootstrap's muted text color */
    opacity: 1;     /* Ensures full visibility */
}

/* Active nav link */
.navbar-nav .nav-link.active {
    color: #1b9849 !important;
    font-weight: 600;
}

/* Page container */
.register-card {
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; /* stretch vertically */
}

/* LEFT INFO CARD */
.info-card {
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    height: auto; /* shrink naturally */
    margin-top: 0;
}

.info-card h2 {
    font-weight: 700;
}

.info-list {
    padding-left: 0;
}

.info-list li {
    list-style: none;
    margin-bottom: 12px;
    font-weight: 500;
}

.info-list li::before {
    content: "✓";
    color: #22c55e;
    margin-right: 10px;
}

/* RIGHT REGISTER CARD */
.register-card {
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.12);
}

.register-card h3 {
    /*color: #2563eb;*/
    font-weight: 600;
}

/* Inputs */
.form-control,
.form-select {
    border-radius: 6px;
}

/* Button */
.btn-success {
    background-color: #1b9849;
    border: none;
}

.btn-success:hover {
    background-color: #107535;
}
/* Hide the visible password field by default */
#password_visible {
    display: none;
}

/* When checkbox is checked, hide password and show text field */
#togglePassword:checked ~ #password {
    display: none;
}
#togglePassword:checked ~ #password_visible {
    display: block;
}

@media (max-width: 768px) {
    .register-container .row {
        flex-direction: column;
    }
    .info-card {
        margin-bottom: 20px;
    }
}